@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/work-sans";

html,
body, 
#root {
    width: 100%;
    height: 150%; /* Pensar em uma forma melhor de arrumar o problema do formTarefa de exceder o tamanho do body*/
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@layer base {
    :root {

        /* Cores */

        --produtividade: #EB6B6B;
        --produtividade2: #D75757;
        --descansoCurto: #7BCAAD;
        --descansoCurto2: #67B699;
        --descansoLongo: #98AFE1;
        --descansoLongo2: #849BCD;
        --normal: #FAF6F6;
        --config: #5E5252;
        --detalhes: #C9C0C0;
        --main: var(--produtividade);
        --main2: var(--produtividade2);
    }

}